.submenushow {
    display: block;
    position: relative;
    background: #fff;
    list-style: none;
    box-shadow: 15px #888;
}

.submenushow li a {
    color: #000 !important;
}

.submenuhide {
    display: none;
}